@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-open-sans);
	--font-abril-fatface: var(--font-abril-fatface);
	--font-dm-sans: var(--font-dm-sans);

	--color-base-white: #eee;
	--color-hero-title: #FF943F;
	--color-orange: #ef9950;

	--radius-base: 30px;

	--breakpoint-mobile: 480px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1024px;

	--max-width-wrapper: 1280px;
}

.wrapper {
	@apply max-w-wrapper mx-auto p-8;
}